{# base template #}
<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<title>{% block title %}{% endblock %}{{ config.APPNAME }}</title>
	{% endblock %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />

</head>

<body class="no-sidebar is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">

			<!-- Logo -->
			<h1><a href="index.html"><img src="../flaskapp/static/logo.png" alt="HTML tutorial" style="width:300px;height:150px;"></a></h1>
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li>
						<a href="#">Dropdown</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li>
								<a href="#">Phasellus consequat</a>
								<ul>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li><a href="#">Veroeros feugiat</a></li>
									<li><a href="#">Nisl sed aliquam</a></li>
									<li><a href="#">Dolore adipiscing</a></li>
								</ul>
							</li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					<li><a href="left-sidebar.html">Left Sidebar</a></li>
					<li><a href="right-sidebar.html">Right Sidebar</a></li>
					<li class="current"><a href="no-sidebar.html">No Sidebar</a></li>
				</ul>
			</nav>

		</section>

</html>
