<head>
	{{ moment.include_jquery() }} {{ moment.include_moment() }}
</head>

<table class="table table-striped">
	<tbody>
		<tr>
			<td><b>URL:</b></td>
			<td>{{ data[2] }}</td>
		</tr>
		<tr>
			<td><b>Latitude:</b></td>
			<td>{{ data[3]|round(3) }}</td>
		</tr>
		<tr>
			<td><b>Longitude:</b></td>
			<td>{{ data[4]|round(4) }}</td>
		</tr>
		<tr>
			<td><b>Last Captured:</b></td>
			<td>{{ moment(data2[1]).format('MMMM Do YYYY, h:mm:ss a') }}</td>
		</tr>
		<tr>
			<td><b>Current Weather:</b></td>
			<td>{{ weather[0] }}</td>
		</tr>
		<tr>
			<td><b>View All Images:</b></td>
			<td><a href="/cameras/{{pager.current}}/0/">All Camera Images</a></td>
		</tr>
	</tbody>
</table>