{% extends "layout.html" %} {% block title %}Cameras {{ data.name}} {% endblock %} {% block content %}
<div class="container" style="width:100%;">
	<nav class="navbar">
		<div class="navbar-header">
			<span class="navbar-brand"><a href="/" style="text-decoration:none">{{ config.APPNAME }}</a></span>
		</div>
		<form class="navbar-form navbar-left" role="search" name="goto" action="/goto" method="POST">
			<div class="form-group">
				<input type="text" name="index" class="form-control" placeholder="Go to index">
			</div>
			<button type="Go" class="btn btn-default">Go</button>
		</form>
		<ul class="nav navbar-nav">
			<li><a href="/cameras/{{pager.prev}}">Previous Camera &larrhk;</a> </li>
			<li><a href="/cameras/{{pager.next}}">Next Camera &rarrhk;</a> </li>
			{% include 'links.html' %}
		</ul>
	</nav>
	<div class="row">
		<div class="col-md-6">
			<h2>Name: {{data[1]}}</h2> {% include 'camera_table.html' %}
		</div>
		<div class="col-md-6">
			<h4>Latest Captured Image</h4>
			<div class="col-md-10">
				<img src="{{ url_for('static', filename='images/'+data2[0]) }}" class="img-responsive center">
			</div>
		</div>
	</div>
	<hr>
	<div class="row-center">
		<center>

			<style>
				/* Set the size of the div element that contains the map */

				#map {
					height: 400px;
					/* The height is 400 pixels */
					width: 50%;
					/* The width is the width of the web page */
				}
			</style>

			<h3>Location of Camera</h3>
			<!--The div element for the map -->
			<div id="map"></div>
			<script>
				// Initialize and add the map
				function initMap() {
					// The location of Uluru
					var loc = {
						lat: 44.478739,
						lng: -73.19164
					};
					// The map, centered at Uluru
					var map = new google.maps.Map(
						document.getElementById('map'), {
							zoom: 4,
							center: loc
						});
					// The marker, positioned at Uluru
					var marker = new google.maps.Marker({
						position: loc,
						map: map
					});
				}
			</script>
			<!--Load the API from the specified URL
				      * The async attribute allows the browser to render the page while the API loads
				      * The key parameter will contain your own API key (which is not needed for this tutorial)
				      * The callback parameter executes the initMap() function
				      -->
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdLYBRezN15XghhsB7fiy6jROT4uPsda8&callback=initMap">
			</script>

			<h2>View All Images</h2></center>
		<center>
			<h3><a href="/cameras/{{pager.current}}/0/">ALL IMAGE VIEW</a></h3></center>
	</div>
</div>
{% endblock %}
