{% extends "layout.html" %} {% block title %}Home {% endblock %} {% block content %}


<div class="container" style="width:100%;">
	<nav class="navbar">
		<div class="navbar-header">
			<span class="navbar-brand"><a href="/" style="text-decoration:none">{{ config.APPNAME }}</a></span>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/cameras/0/">Cameras</a></li>
			{% include 'links.html' %}
		</ul>
	</nav>
</div>

<!-- Intro Content -->
<div class="row-center">
	<div class="col-lg-6">
		<h2>Put some image here or example of images</h2>



	</div>
	<div class="col-lg-6">
		<img src="/static/logo.png" alt="AMOS" width="400" height="100">
		<h2>Welcome to AMOS, the Archive of Many Outdoor Scenes!</h2>
		<h3>{{camera_count}} Cameras & {{image_count}} Images and Counting!</h3>
		<h4>AMOS is a collection of long-term timelapse imagery from publicly accessible outdoor webcams around the world. We explore how to use these images to learn about the world around us, with a focus on understanding changes in natural environments and understanding
			how people use public spaces. 
		</h4>
		<h4>
			To support these applications, we work on fundamental research in camera geolocation, camera calibration, camera registration to GIS data, and the automatic annotation of events and objects in a scene. The AMOS project
			began in March 2006 and is currently maintained at The George Washington University by Robert Pless. We encourage you to learn more about the AMOS dataset, project participants, and publications.
		</h4>
		<h4>
			Please visit the <b><a href="http://amostest.seas.gwu.edu/cameras/0/">cameras</a></b> link in the navbar to visit all the cameras we have!
		</h4>
	</div>
</div>


{% endblock %}