{% extends "layout.html" %} {% block title %}Home {% endblock %} {% block content %}

<style>
	/* Always set the map height explicitly to define the size of the div
	 * element that contains the map. */
	#map {
		height: 400px;  /* The height is 400 pixels */
    width: 100%;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 50%;
		margin: 0;
		padding: 0;
	}
</style>

<div class="container" style="width:100%;">
	<nav class="navbar">
		<div class="navbar-header">
			<span class="navbar-brand"><a href="/" style="text-decoration:none">{{ config.APPNAME }}</a></span>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/cameras/0/">Cameras</a></li>
			{% include 'links.html' %}
		</ul>
	</nav>
</div>

<!-- Intro Content -->
<div class="row-center">
	<div class="col-lg-6">
		<h2>Put some image here or example of images</h2>


	  <body>
	    <div id="map"></div>
	    <script>

	      function initMap() {

	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 3,
	          center: {lat: -28.024, lng: 140.887}
	        });

	        // Create an array of alphabetical characters used to label the markers.
	        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

	        // Add some markers to the map.
	        // Note: The code uses the JavaScript Array.prototype.map() method to
	        // create an array of markers based on a given "locations" array.
	        // The map() method here has nothing to do with the Google Maps API.
	        var markers = locations.map(function(location, i) {
	          return new google.maps.Marker({
	            position: location,
	            label: labels[i % labels.length]
	          });
	        });

	        // Add a marker clusterer to manage the markers.
	        var markerCluster = new MarkerClusterer(map, markers,
	            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	      }
	      // var locations = []
				//
				// lt_size = {{lt}}.length;
				//
				// var i;
				// //putting all of the pins on the map
				// for(i = 0; i < lt_size; i++){
				// 	var loc = {lat: {{lt[i]}}, lng: {{lg[i]}}};
				// 	locations.push(loc);
				// }

				var locations = [
        {lat: -31.563910, lng: 147.154312},
        {lat: -33.718234, lng: 150.363181},
        {lat: -33.727111, lng: 150.371124},
        {lat: -33.848588, lng: 151.209834},
        {lat: -33.851702, lng: 151.216968},
        {lat: -34.671264, lng: 150.863657},
        {lat: -35.304724, lng: 148.662905},
        {lat: -36.817685, lng: 175.699196},
        {lat: -36.828611, lng: 175.790222},
        {lat: -37.750000, lng: 145.116667},
        {lat: -37.759859, lng: 145.128708},
        {lat: -37.765015, lng: 145.133858},
        {lat: -37.770104, lng: 145.143299},
        {lat: -37.773700, lng: 145.145187},
        {lat: -37.774785, lng: 145.137978},
        {lat: -37.819616, lng: 144.968119},
        {lat: -38.330766, lng: 144.695692},
        {lat: -39.927193, lng: 175.053218},
        {lat: -41.330162, lng: 174.865694},
        {lat: -42.734358, lng: 147.439506},
        {lat: -42.734358, lng: 147.501315},
        {lat: -42.735258, lng: 147.438000},
        {lat: -43.999792, lng: 170.463352}
      ]

	    </script>
	    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	    </script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdLYBRezN15XghhsB7fiy6jROT4uPsda8&callback=initMap">
			</script>
		</body>





	</div>
	<div class="col-lg-6">
		<img src="/static/logo.png" alt="AMOS" width="400" height="100">
		<h2>Welcome to AMOS, the Archive of Many Outdoor Scenes!</h2>
		<h3>{{camera_count}} Cameras and {{image_count}} Images Counting!</h3>
		<p>AMOS is a collection of long-term timelapse imagery from publicly accessible outdoor webcams around the world. We explore how to use these images to learn about the world around us, with a focus on understanding changes in natural environments and understanding
			how people use public spaces. To support these applications, we work on fundamental research in camera geolocation, camera calibration, camera registration to GIS data, and the automatic annotation of events and objects in a scene. The AMOS project
			began in March 2006 and is currently maintained at Washington University in St. Louis by Robert Pless and at the University of Kentucky by Nathan Jacobs. We encourage you to learn more about the AMOS dataset, project participants, and publications.
	</div>
</div>


{% endblock %}
