<html>

<head>
	<title>Upload</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container" style="width:100%;">

		<nav class="navbar">
			<div class="navbar-header">

				<span class="navbar-brand">Generic-Web-Classifier</span>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">home</a></li>
				<li><a href="/upload">Upload Image</a></li>

			</ul>
		</nav>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
				<h1>Generic Classifier</h1>
				<br /> {% with messages = get_flashed_messages() %} {% if messages %}
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %} {% endwith %}
				<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
					<div class="form-group">
						<input type="file" name="photo" class="form-control" style="max-width: 300px;">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<br>
				{% if filename or results %}
				<p>File saved as <b>{{ filename }}</b></p>
				{% endif %}
			</div>
	

	
	<!-- <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
		<input type=file name=photo>
		<input type="submit">
	</form> -->
</body>

</html>